flows.json
[
    {
        "id": "522a579859033357",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e910e822d914b9e",
        "type": "ui_text_input",
        "z": "522a579859033357",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "30cf6394d73b3642",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "13f87a85260f11cb"
            ]
        ]
    },
    {
        "id": "3a1598cb29126415",
        "type": "ui_button",
        "z": "522a579859033357",
        "name": "",
        "group": "30cf6394d73b3642",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Xác nhận",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "13f87a85260f11cb"
            ]
        ]
    },
    {
        "id": "7953303715d11c02",
        "type": "ui_switch",
        "z": "522a579859033357",
        "name": "",
        "label": "Chọn chức năng đóng",
        "tooltip": "",
        "group": "30cf6394d73b3642",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "13f87a85260f11cb"
            ]
        ]
    },
    {
        "id": "5111488dd5814fe1",
        "type": "ui_text",
        "z": "522a579859033357",
        "group": "4329ed274d8a8873",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nhiệt độ °C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 90,
        "y": 160,
        "wires": []
    },
    {
        "id": "37d63bea089dd335",
        "type": "ui_text",
        "z": "522a579859033357",
        "group": "4329ed274d8a8873",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Độ ẩm %",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 80,
        "y": 200,
        "wires": []
    },
    {
        "id": "d5760826d84c0f07",
        "type": "ui_text",
        "z": "522a579859033357",
        "group": "4329ed274d8a8873",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ánh sáng ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 80,
        "y": 240,
        "wires": []
    },
    {
        "id": "dc1e8a7a757cae7f",
        "type": "ui_button",
        "z": "522a579859033357",
        "name": "",
        "group": "ab87eb79a52a46bd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Đóng rèm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "ec5bc630a474415d"
            ]
        ]
    },
    {
        "id": "99072e24d96c878d",
        "type": "ui_button",
        "z": "522a579859033357",
        "name": "",
        "group": "ab87eb79a52a46bd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mở rèm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "5c990bde6f363b96"
            ]
        ]
    },
    {
        "id": "13f87a85260f11cb",
        "type": "function",
        "z": "522a579859033357",
        "name": "Nhận giờ hẹn",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ec5bc630a474415d",
        "type": "function",
        "z": "522a579859033357",
        "name": "Đóng rèm",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5c990bde6f363b96",
        "type": "function",
        "z": "522a579859033357",
        "name": "Mở rèm",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "42cedfeb6543048b",
        "type": "ui_text",
        "z": "522a579859033357",
        "group": "4329ed274d8a8873",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Trạng thái rèm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 100,
        "y": 280,
        "wires": []
    },
    {
        "id": "30cf6394d73b3642",
        "type": "ui_group",
        "name": "Hẹn giờ đóng mở ",
        "tab": "17d544dbe7a1d0b5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4329ed274d8a8873",
        "type": "ui_group",
        "name": "Hiển thị trạng thái",
        "tab": "17d544dbe7a1d0b5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab87eb79a52a46bd",
        "type": "ui_group",
        "name": "Điều khiển rèm",
        "tab": "17d544dbe7a1d0b5",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "17d544dbe7a1d0b5",
        "type": "ui_tab",
        "name": "Smart Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
